<h1>Tasks</h1>
<div *ngFor="let task of tasks; let i = index;">
  <ul>
    <li>{{i+1}}. {{task.description}}: {{task.completed}} <button (click)=" onRemove(i, task._id)">Delete</button></li>
  </ul>
</div>
<li></li>

<form [formGroup]="form" (ngSubmit)="onSubmit(form)">

  <label for="desc">Description</label>
  <input id="desc" type="text" placeholder="Type here..." formControlName="description">


  <label>Completed?</label>
  <label for="true">True</label><input id="true" type="checkbox" value="true" formControlName="completed">
  <label for="false">False</label><input id="false" type="checkbox" value="false" formControlName="completed">

  <button type="submit">Submit</button>
</form>

<button (click)="getProfile()">My Profile</button>
<ng-container *ngIf="isFetched">
  <ol>
    <li>Name: {{profile.name}}</li>
    <li>Email: {{profile.email}}</li>
    <li>Age: {{profile.age}}</li>
  </ol>
</ng-container>

<button (click)="onDelete()">Delete Account?</button>


<div class="wrapper">
  <h2>Angular Image Upload Demo</h2>

  <div class="file-upload">
    <input type="file" name="image" ng2FileSelect [uploader]="uploader" (onFileSelected)="onFileselect($event)" accept="image/x-png,image/gif,image/jpeg" />
    <button type="button" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
      Upload
    </button>
  </div>
</div>
